@import "compass";

html, body {
	margin: 0;
	padding: 0;
}

.layout-header {
	background: #ddd;
	height: 100px;
}

.layout-body {
	@include clearfix;
	.layout-side-left {
		float: left;
	}
	.layout-side-right {
		float: right;
	}
}

.layout-footer {

}