html, body {
  margin: 0;
  padding: 0;
}

.layout-header {
  background: #ddd;
  height: 100px;
}

.layout-body {
  overflow: hidden;
  *zoom: 1;
}
.layout-body .layout-side-left {
  float: left;
}
.layout-body .layout-side-right {
  float: right;
}

.m-button {
  background: #000;
}
